@import '~bootstrap/scss/functions', '~bootstrap/scss/variables';

$screen-sm: map-get($grid-breakpoints, 'sm'); // 576px;
$screen-md: map-get($grid-breakpoints, 'md'); // 768px;
$screen-lg: map-get($grid-breakpoints, 'lg'); // 992px;
$screen-xl: map-get($grid-breakpoints, 'xl'); // 1200px;

@mixin screen-sm() {
	@media (min-width: $screen-sm) {
		@content;
	}
}

@mixin screen-md() {
	@media (min-width: $screen-md) {
		@content;
	}
}

@mixin screen-lg() {
	@media (min-width: $screen-lg) {
		@content;
	}
}

@mixin screen-xl() {
	@media (min-width: $screen-xl) {
		@content;
	}
}
