@import '../../styles/partials/mediaQueries';
@import '../../styles/partials/fonts';

.hero {
	background-image: url(../../images/heroes/shekel-banknotes.jpg);
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25vh;
	position: relative;
	margin-bottom: 1.5rem;

	@include screen-xl {
		background-attachment: fixed;
		background-position: center -18vh;
		height: 35vh;
	}

	h1 {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		text-align: center;
		color: #ffffff;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		font-weight: $extra-strong;

		@include screen-md {
			font-size: 4rem;
		}
	}
}
