@import '../../styles/partials/mediaQueries';

.form-control,
.input-group {
	@include screen-md {
		width: 85%;
	}

	@include screen-lg {
		width: 60%;
	}
}

form {
	margin-bottom: 2rem;

	@include screen-md {
		margin-bottom: 4rem;
	}
}
