@import './partials/fonts';
@import './partials/colors';

html,
body {
	margin: 0;
	font-family: $base-font-family;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $base-font-color;
}

h1,
h2 {
	margin-bottom: 1.5rem;
}

a {
	color: $base-font-color;

	&:hover {
		text-decoration: none;
	}
}
